@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>


<address>
    42 Stewart Ave<br />
    Alliston, ON L9R 1C8<br />
    <abbr title="Phone">P:</abbr>
    705.435.7688
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jmgeear@gmail.com">jmgeear@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:admin@alotofbyte.com">admin@alotofbyte.com</a>
</address>