@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img src="~/images/logo - Small.png" /><h1>Georgian College Courses</h1>

    <p class="lead">Welcome to Georgian College!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please feel free to Browse our collection of current courses 
        </p>
        
    </div>
    
</div>